* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: var(--platform-aliases-background, #121214);
    font-size: 1.6rem;
    font-family: 'Mulish', sans-serif;

    padding: 7.2rem 10rem;

    display: grid;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 370px);

    gap: 4.8rem 6rem;

    margin-top: 6.2rem;
}

header h1 {
    color: var(--brand-colors-explorer-mid, #02799D);
    font-size: 5.8rem;
    font-weight: 900;
    line-height: normal;
}

header p  {
    color: var(--platform-aliases-ttulos, #E1E1E6);
    font-size: 3.2rem;
    font-weight: 600;
    line-height: normal;
}

.card {
    background: #202024;
    border-radius: .8rem;
    border: 2px solid #323238;
    overflow: hidden;
}

.card h2 {
    color: var(--platform-aliases-ttulos, #E1E1E6);
    font-size: 3.5rem;;
    font-weight: 900;
    line-height: normal;

    padding: 2.4rem 3.2rem 0;
}

.card p {
    color: var(--platform-aliases-texto-base, #C4C4CC);
    font-size: 1.9rem;
    font-weight: 600;
    line-height: normal;

    padding: 2.4rem 3.2rem 3.2rem;
}